1. Chương trình đầu tiên

In [8]:
print("Hello World")

Hello World

2. Các kiểu dữ liệu cơ bản trong Python

In [12]:
IntNum = 10
FloatNum = 100.5
Str = "Have a nice day!"
Logic = True

print(type(IntNum))
print(type(FloatNum))
print(type(Str))
print(type(Logic))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

3. Biến trong Python

In [14]:
name = input("Your name: ")
age = int(input("Your age: "))
print(f"You are {name} and you are {age} years old")

You are Na and you are 20 years old

4. Các toán tử

In [15]:
x = 5
y = 10

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

15
-5
50
0.5
0
5
9765625
False
True
False
True
False
True

5. List

In [22]:
list1 = [1,3,4,6,7,8,3,2]
list2 = ["Na", 22, 4, 2005]
list3 = list((1,2,4,5,6))
print(list1)
print(list2)
print(list3)

[1, 3, 4, 6, 7, 8, 3, 2]
['Na', 22, 4, 2005]
[1, 2, 4, 5, 6]

In [17]:
print(list2[0])

Na

In [23]:
list2.append("Brrrrrrr")
print(list2)

['Na', 22, 4, 2005, 'Brrrrrrr']

In [24]:
list2.extend(list1)
print(list2)

['Na', 22, 4, 2005, 'Brrrrrrr', 1, 3, 4, 6, 7, 8, 3, 2]

In [25]:
list2.insert(1, "K68")
print(list2)

['Na', 'K68', 22, 4, 2005, 'Brrrrrrr', 1, 3, 4, 6, 7, 8, 3, 2]

6. Tuple

In [29]:
my_tuple = (3, 5, 6, 7)
print(my_tuple[3])

7

7. Dictionary

In [32]:
my_dictionary = {"Na": "KHTN", "Hoa" : "DHCN", "An": "DHVN"}
print(my_dictionary["An"])
hoa = my_dictionary.get("Hoa")
oanh = my_dictionary.get("Oanh", "Unknown")
print(hoa)
print(oanh)

DHVN
DHCN
Unknown

In [34]:
print(my_dictionary.items())
print(my_dictionary.keys())
print(my_dictionary.values())

dict_items([('Na', 'KHTN'), ('Hoa', 'DHCN'), ('An', 'DHVN')])
dict_keys(['Na', 'Hoa', 'An'])
dict_values(['KHTN', 'DHCN', 'DHVN'])

8. Câu lệnh và vòng lặp

In [35]:
grade = 7

if grade < 5:
    print("You're failed")
else:
    print("You're passed")

You're passed

In [2]:
for i in range(1, 6):
    print(i, end =" ")

1 2 3 4 5

In [2]:
for i in range(6):
    print(i, end = " ")

0 1 2 3 4 5

In [3]:
for i in range(1, 6, 2):
    print(i, end = " ")

1 3 5

In [41]:
i = 2
while i < 5:
    print(i, end = " ")
    i = i + 1

2 3 4